Package: com.armstronggraphics.pokemongolockglyphpack
Name: Pokemon Go LockGlyph Pack
Version: 1.1.0
Architecture: iphoneos-arm
Description: A LockGlyph pack featuring different themes for Team Mystic, Insinct and Valor.
Homepage: www.armstrongart.ml/
Maintainer: ArmstrongGraphics <armstronggraphicscydia@gmail.com>
Author: ArmstrongGraphics <armstronggraphicscydia@gmail.com>
Section: Addons (LockGlyph)
Depends: com.evilgoldfish.lockglyph