Package: com.carlyd95.mtrs2ft
Name: mtrs2ft
Version: 1.0-2
Architecture: iphoneos-arm
Description: CLI that converts meters to feet, was just a practice of me starting to learn objc.
Homepage: http://carlyd95.github.io/repo
Maintainer: carlyd95 <dcarltondunlap@hotmail.com>
Author: carlyd95 <dcarltondunlap@hotmail.com>
Section: System
