Package: com.[yourcompany].repo-icon
Name: Icon for [NameOfRepo]
Version: 1.0
Architecture: iphoneos-arm
Description: This is a setup package for [NameOfRepo]
Homepage: http://[yourwebsite.com] if you have one
Maintainer: [you] <[youremail]>
Author: [you] <[youremail]>
Section: [NameOfSection]
Priority: extra
Depiction: http://[repo.domainname]/depictions/Repo-Icon.php
Installed-Size: [Applications folder > Get Info]
