Package: com.carlyd95.mtrs2ft
Name: mtrs2ft
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool to convert meters to feet and inches.
Maintainer: carlyd95
Author: carlyd95
Section: System
Tag: role::hacker
