* {
	margin: 0;
	text-decoration: none;
	font-family: Verdana;
	padding: 0;
}

header {
	background: lightgray;
	height: 12vw;
}

.alignleft {
	float: left;
	width: 10%;
	height:100%;
	cursor: pointer;
}

.center {
	overflow: hidden;
	margin: 0 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
}

#logo {
	filter: drop-shadow(0 0 0.3vw black);
    height: 8vw;
    max-width:8vw;
}

.center h1 {
	cursor: default;
	font-size: 5vw;
	margin: 1vw;
}

.alignright {
	float: right;
	width: 10%;
	height:100%;
	cursor: pointer;
}

nav {
	height: 0;
	width: 100%;
	align-items: center;
	overflow: scroll;
	transition: 0.4s;
	text-align: center;
	/* box-shadow: 0 2vw 3vw -1vw black; */
	position: absolute;
	background: white;
	box-shadow: 0 8vh 8vh 0vw rgba(0, 0, 0, 0.6);

}

.links {
	margin:2vw;
	font-size: 2.5vw;
	color: dimgray;
	transition: 0.3s;
}

nav a:hover {
	color: lightslategray;
}

nav hr {
	display:flex;
	margin: 0 6vw 0 6vw;
}

nav main {
	margin:2vw;
}

hr {
	border: 0; 
	border-top: 0.3vw solid lightgray !important;
}

body {	
	background: lightslategray;
}


.cont {
	background: white;
	margin-top: 1vw;

}

.cont h2 {
	padding: 0.5vw;
	font-size: 3.3vw;
	background: lightgray;
	text-align: center;
}

.cont p {
	padding: 3vw;
	font-size: 2vw;
}

.bio {
	text-align: center;
}

.bio img {
	margin: 2vw;
	margin-bottom: 0;
	width: 40vw;
	object-fit: cover;
	border-radius: 50%;
	border: 1vw solid dimgray;
	padding: 0;
}

iframe {
	width:100%;
	border:0;
	overflow:hidden;
}

#ig {
	padding: 2vw;
	height: 100%;
}

		/* animation */

button {
	background: none;
	border: none;
	height: auto;
}

button:focus {
	outline: 0;
}

.animated-icon2 {
	width: 5vw;
	height:4vw;
	position: relative;
	margin: 4vw;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	float:right;
}

 .animated-icon2 span {
	display: block;
	position: absolute;
	height: 0.6vw;
	width: 100%;
	border-radius: 0.2vw;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon2 span {
	background: dimgray;
}


.animated-icon2 span:nth-child(1) {
	margin-top: 0vw;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
	margin-top: 1.7vw;
}

.animated-icon2 span:nth-child(4) {
	margin-top: 3.4vw;
}

.animated-icon2.open span:nth-child(1) {
	margin-top: 1.7vw;
	width: 0%;
	left: 50%;
}

.animated-icon2.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
	margin-top: 1.7vw;
	width: 0%;
	left: 50%;
}

.opennav-body {
	overflow: hidden;
}

.dropNavopen {
	height: 50%;
}
