Package: com.carlyd95.sendrsa
Name: sendrsa
Version: 2.4-1
Architecture: iphoneos-arm
Description:    simple command-line utility to send your rsa keys to a trusted remote device in order to ssh to the remote device without being prompted for the password.
Depiction: http://carlyd95.github.io/repo/depics/sendrsa.html
Maintainer: carlyd95 <dcarltondunlap@me.com>
Author: carlyd95 <dcarltondunlap@me.com>
Section: Terminal Support
Depends: openssh
Icon: http://carlyd95.github.io/repo/depics/images/sendrsa.png
