html, body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
    font-size:;
}

a:link {
    color: #5fb0d8;
    text-decoration: none;
}

a:visited {
    color: #727272;
    text-decoration: none;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}


#container {
	margin-left: auto;
    margin-right: auto; 
	width: 100%;
	padding: 0px
}

#contentSingle {
	padding: 10px;
	margin-left: 0px;
	margin-top: 10px;
	border-top: 0.5px solid #c4c4c6 !important;
    border-bottom: 0.5px solid #c4c4c6 !important;
    background-color: #fff !important;
    }

#contentSingleTop {
	margin-left: 0px;
	margin-top: 0px;
	border-top: 0.5px solid #c4c4c6 !important;
    border-bottom: 0.5px solid #c4c4c6 !important;
    background-color: #fff !important;
    height:auto;
}

#contentSingleYellow {
	padding: 10px;
	margin-left: 0px;
	margin-top: 10px;
	border-top: 0.5px solid #c4c4c6 !important;
    border-bottom: 0.5px solid #c4c4c6 !important;
    background-color: #1ee67d !important;
}

#contentBottom {
	padding: 10px;
	margin-left: 0px;
    border-bottom: 0.5px solid #c4c4c6 !important;
    background-color: #fff !important;

}

#contentBottomYellow {
	padding: 10px;
	margin-left: 0px;
    border-bottom: 0.5px solid #c4c4c6 !important;
    background-color: #fdfdc8 !important;
}

#contentTop {
	padding: 0px;
	margin-left: 0px;
	margin-top: 10px;
    border-top: 0.5px solid #c4c4c6 !important;
    background-color: #fff !important;
}

#compatibileDiv {
	padding: 10px;
	margin-left: 0px;
	margin-top: 10px;
    border-bottom: : 0.5px solid #c4c4c6 !important;
    border-top: 0.5px solid #c4c4c6 !important;
    background-color: #99eeb2 !important;
}

#notCompatibileDiv {
	padding: 10px;
	margin-left: 0px;
	margin-top: 10px;
    border-bottom: : 1px solid #c4c4c6 !important;
    border-top: 1px solid #c4c4c6 !important;
    background-color: #ebb5b5 !important;
}

h2.repoDescriptionHeader {
	text-align: left;
    display: inline-table;
	font-size: 225%;
	vertical-align: middle;
	margin:0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h2.repoScreenshotsHeader {
	font-size: 17px;
	text-align: center;
	display: inline;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h3.textHeaderLabel {
	font-size: 17px;
	font-weight: 40px;
	text-align: center;
	margin-top: 0px;
	display:inline;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

hr { display: block; height: 0.5px;
    border: 0; border-top: 0.5px solid #c4c4c6 !important;;
    margin: 1em 0; padding: 0; }

img.repoDescription{
	height: 58px;
	width: 58px;
	vertical-align:center;
	display: inline-table;
}

img.repoScreenshots{
	height: 28px;
	width: 28px;
	vertical-align:middle;
}

img.croppedImage{
	height: 120px;
	width: 120px;
	margin-left: 10px;
	vertical-align: middle;
	-webkit-clip-path: circle(50%);
  	clip-path: circle(50%);
  	margin-top:20px;
  	margin-bottom: 20px;
  	margin-right: 15px;


}

ul,li { 
	list-style-type: none;
	list-style-position:inside;
	padding:0; 
}

li.buttons {
	 border: 1px solid black;
}