Package: com.carlyd95.mtrs2ft
Name: mtrs2ft
Version: 0.0.1-6-1
Architecture: iphoneos-arm
Description: An awesome tool to convert meters to feet and inches.
Homepage: http://carlyd95.github.io/repo
Maintainer: carlyd95 <dcarltondunlap@me.com>
Author: carlyd95 <dcarltondunlap@me.com>
Section: System
