Package: com.carlyd95.versacezeppelinlogo
Name: Versace Zeppelin Logo
Version: 1.1
Architecture: iphoneos-arm
Description: Zeppelin logo for Versace /u/22red9 and /u/Adam-1D
Homepage: http://carlyd95.github.io/
Maintainer: carlyd95 <dcarltondunlap@me.com>
Author: carlyd95 <dcarltondunlap@me.com>
Section: Addons (Zeppelin)
Depends: com.alexzielenski.zeppelin
Conflicts: com.carlyd95.22red9zeppelinlogo
